backend:
  name: github
  repo: ildasilva/my-personal-blog-gatsby
  branch: master
  site_domain: ildaneta.netlify.com

publish_mode: editorial_workflow
media_folder: 'static/assets/img'
public_folder: 'assets/img'

collections:
  - name: 'posts' # Used in routes, e.g., /admin/collections/blog
    label: 'posts' # Used in the UI
    folder: 'posts' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - {
          label: 'Date',
          name: 'date',
          widget: 'datetime',
          format: 'YYYY-MM-DD hh:mm:ss',
        }
      - { label: 'image', name: 'thumbnail', widget: 'image' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
